################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Labs/1/4 ex/Divider/.vs/Divider/v16/Server/sqlite3/db.lock
/Labs/3/2 ex/Loop/.vs/Loop/v16/Server/sqlite3/db.lock
/Labs/3/2 ex/Summa/.vs/Summa/v16/Server/sqlite3/db.lock
/Labs/1/2 ex/Greetings/.vs/Greetings/v16/Server/sqlite3/db.lock
/Labs/4/4/Triangle/.vs/Triangle/v16/Server/sqlite3/db.lock
/Labs/1/5 ex/Area of Triangle/.vs/Area of Triangle/v16/Server/sqlite3/db.lock
/Practic/3-4/casino v2.0/.vs/casino v2.0/v16/Server/sqlite3/db.lock
